<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="Page.PHOTO">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="Page.ALBUM">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Album</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="Page.LOCALISATION_STANDARD">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Localisation</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="Page.LOCALISATION_ADVANCED">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Localisation 2</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
