<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-photo [rawPage]="rawName"  ></app-photo>
  <app-album [rawPage]="rawName"></app-album>
  <app-super-localisation *ngIf="rawName===Page.LOCALISATION_ADVANCED"></app-super-localisation>
</ion-content>
