<ion-card class="ion-padding" *ngIf="rawPage===Page.PHOTO">
    <ion-card-header>
        <ion-card-title>
            <ion-button (click)="takePicture()">Take picture</ion-button>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <img *ngIf="capturedPicture!=null" [src]="capturedPicture" alt="pic"/>
            </ion-row>
            <ion-row>
                <ion-col size="10">
                    <ion-input [formControl]="imageDesc"  placeholder="Enter a description"></ion-input>
                </ion-col>
                <ion-col size="2">
                    <ion-button (click)="saveImage()"><ion-icon name="save-outline" slot="start"></ion-icon>Save</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
